<div id='registerPage'>

  <form name='registration' ng-submit='registerUser()' class='col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3'>
    <h2> Sign Up Tonight </h2>
    <div class='form-group'>
      <input type='text' ng-model='register.name' class="form-control" placeholder='Name'>
      <input type='email' ng-model='register.email' class="form-control" placeholder='Email'>
      <input type='url' ng-model='register.picture' class="form-control" placeholder='Picture url: http://...'>
      <textarea ng-model='register.bio' class="form-control" placeholder='Brief bio'></textarea>
      <input type='text' ng-model='register.interests' class="form-control" placeholder='Interests, hobbies, etc'>
      <input type='text' ng-model='register.phone' class="form-control" placeholder='Phone Number'>
      <input type='password' ng-model='register.password' class="form-control" placeholder='Password'>
      <input type='password' ng-model='register.password2' class="form-control" placeholder='Confirm Password'>
    </div>
    <button type='submit' class='btn btn-primary col-xs-12'>Sign Up</button>
  </form>
</div>